body {
    padding:0;
    margin: 0;
    font-family: Helvetica;
}

header {
    padding:10px;
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(269deg, #69d2f5, #5a96ff);
    color:#ffffff;
}

header button {
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px;
    background:none;
    color:#ffffff;
    border:1px solid #ffffff;
    border-radius: 3px;
}

header > #header-intro {
    font-size: 20px;
    font-weight: 600;
}

header > #header-intro > a {
    color:#ffffff;
    text-decoration: none;
}

#body {
    min-height: 600px;
    padding:60px;
    background-color:#e5f1ff;
}

#default-body {
    width:800px;
    padding:30px;
    margin: 0 auto;
    background-color:#ffffff;
    line-height: 1.5;
    white-space:normal;
    font-family: '맑은고딕'
}

header p,
#default-body p {
    margin: 0;
}

form {
    width:400px;
    margin: 0 auto;
}

form h3 {
    text-align: center;
    color:#5a96ff;
}

#join-form,
#login-form {
    display: none;
}

.join-form-box-input {
    margin-top:5px;
    margin-bottom:10px;
    border:1px solid #e0e0e0;
}

.join-form-box-input > input,
.join-form-box-input > select {
    padding:3px;
    outline: none;
    border:none;
    background-color:#ffffff;
}

.join-form-box:not(#birth-field):not(#interest-field) > .join-form-box-input > input,
.join-form-box:not(#birth-field):not(#interest-field) > .join-form-box-input > select {
    width:100%;
}

.join-form-box-title {
    color:#000000;
    font-weight: 600;
    font-size: 14px;
}

#birth-field > .join-form-box-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#birth-field > .join-form-box-input > input,
#birth-field > .join-form-box-input > select {
    width:32%;
}

#interest-field > .join-form-box-input {
    background-color: #ffffff;
}

.interest-box {
    padding-left: 5px;
    padding-right: 5px;
    margin:5px;
    display: inline-block;
    background-color:#e0e0e0;
    border-radius: 10px;
    border:1px solid #999999;
    font-size:14px;
}

.interest-box-x {
    display: inline-block;
    color:#888888;
    background-color:#e0e0e0;
    cursor: pointer;
}

.join-form-box-infomsg {
    font-size: 14px;
    margin-bottom:10px;
}

#rules {
    display: flex;
    align-items: center;
}

#rules > span {
    text-decoration: underline;
}

#rules > input {
    width:15px;
    height:15px;
    border-radius: 0;
}

#btn-group {
    margin-top:3px;
    display: flex;
    justify-content: space-between;
}

#init-btn,
#join-btn {
    width:49%;
    border:none;
    background-color:#5a96ff;
    color:#ffffff;
}

.join-form-box-input > input,
.join-form-box-input > select,
#init-btn,
#join-btn,
#login-form > .row > input {
    height:40px;
}

#login-form > input {
    width:100%;
}

footer {
    padding:20px;
    line-height: 1.5;
    font-size: 14px;
    color:#b8b8b8;
}

button:hover {
    cursor: pointer;
}

.red-text {
    color:red;
}

.green-text {
    color:green;
}