<header>
    <p id="header-intro">
        <a href = "/">Simple Login App</a>
    </p>
    <div id="header-btn-group">
        <button id="show-login">
            로그인
        </button>
        <button id="show-join">
            회원가입
        </button>
        <div id="user-name-wrap">
            <span id="user-name">
                <%= userName %>
            </span>
            님 환영합니다.
        </div>
        <button id="logout-btn">
            로그아웃
        </button>
    </div>
</header>