<!DOCTYPE html5>
<html>

<head>
    <meta charset="utf-8">
    <title>부스트캠프 멤버십</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/index.css">
</head>

<body>
    <% include ./header %>
    <div id = "body"></div>
    <% include ./footer %>
    <% include ./rulesPopup %>
    <script type="text/javascript" src="components/mainComponent.js"></script>
    <script type="text/javascript" src="components/loginComponent.js"></script>
    <script type="text/javascript" src="components/joinComponent.js"></script>

    <script type="text/javascript" src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script type="text/javascript" src="js/index.utils.js"></script>
    <script type="module" src="js/index.js"></script>
</body>

</html>